.login-layout{
	width: 100%;
	height: 100vh;
	background: url(../../static/bg.jpg) center no-repeat;
  background-size: 100% 100%;
	.border-layout{
		width: 350px;
	  position: relative;
	  top: 48%;
	  left: 50%;
	  transform: translate(-50%,-50%);
	}
	form{
		padding: 30px;
	  margin-bottom: 25px;
	  border: 1px solid #263e48;
	  border-radius: 25px;
	  background-color: rgba(44, 73, 39, 0.3);
	  .ant-row {
	    text-align: left;
	  }
    .login-btn{
    	width: 200px;
    	position: relative;
    	left: 50%;
    	margin-left: -100px;
    	background-color: #5ca098;
			border-color: #5ca098;
    }
	}
	.message{
	  padding: 10px;
	  padding-bottom: 0;
	  border: 1px solid #263e48;
	  border-radius: 15px;
	  text-align: center;
	  font-size: 17px;
	  background-color: rgba(44, 73, 39, 0.3);
	}
}