#product_list{
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  .list-item{
    flex: 1;
    height: 300px;
    position: relative;
    border: 1px solid #edb638;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px;
    &:hover{
      box-shadow: 1px 1px 3px 0px #edb6389e;
    }
    .pic{
      position: relative;
      left: 50%;
      transform: translate(-50%,-40%);
    }
    .list-item-info{
      width: 100%;
      position: absolute;
      bottom: 20%;
      text-align: center;
      font-size: 15px;
    }
    #add{
      position: absolute;
      bottom: 5%;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .page{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
}