body{
	color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
.layout{
	width: 100%;
	height: 100vh;
	display: flex;
	padding: 20px;
	box-sizing: border-box;
	background: url(../../static/bg.jpg) center no-repeat;
  background-size: 100% 100%;
	.site-layout{
		display: flex;
		flex-direction: column;
		flex: 1;
		padding: 10px;
		border-radius: 30px;
    background-color: #ffffffe6;
		.site-layout-content{
			display: flex;
	    justify-content: center;
	    align-items: center;
			flex: 1;
		}
	}
}