.site-layout-header{
  height: 45px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 30px;
  border: 2px solid #efaf27;
  padding: 0px;
  font-size: 15px;
  font-weight: 600;
  color: #797f82;
  .header-item{
  	&:first-child{
  		width: 150px;
  		display: flex;
	    justify-content: flex-start;
	    align-items: center;
  		margin-left: 10px;
  	}
  	&:nth-child(2){
  		flex: 0 0 50%;
  		.sider-menu{
  			width: 100%;
  			margin: 0;
    		padding: 0;
  			list-style: none;
		  	a{
  				color: #ed6d48;
		  	}
		  	li{
		  		float: left;
		  		margin-right: 40px;
		  	}
	  	}
  	}
  	&:last-child{
      display: flex;
      justify-content: flex-end;
      margin-right: 20px;
      align-items: center;
  		flex: 1;
      .img-cart{
        margin-right: 20px;
      }
    }
    .btn{
      margin-right: 8px;
      border-color: #efaf27;
      color: #efaf27;
    }
    .cart-num{
      width: 20px;
      height: 19px;
      position: absolute;
      top: 0px;
      right: 64px;
      padding: 2px;
      font-size: 10px;
      border-radius: 50%;
      text-align: center;
      color: #fff;
      background-color: #ed6d48;
    }
  }
	.ant-dropdown-link{
		color: #efaf27;
	}
	.ant-dropdown-open{
		text-align: center;
	}
}