.ant-steps{
	width: 80%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 25px;
}
.ant-input-group-wrapper{
	width: 50%;
	padding: 0 10px;
	margin-bottom: 6px;
	input{
		font-weight: 800;
	}
}
.total{
	height: 30px;
  font-size: 20px;
  color: #F44336;
  text-align: right;
  padding: 30px 20px;
}
.ant-table-cell img{
	width: 30px;
  height: 32px;
}